/**
 * Основные стили
 **/

body {
  @include font-styles(Montserrat, bold, 14px, 24px, $dark_shade_75);
}

.container {
  @include min-max(320px, 100%, 0);
}


h1{

  @include font-styles(Quicksand, bold, 24px, 30px, $dark_shade);

}

h2{
  @include font-styles(Quicksand, bold, 19px, 24px, $dark_shade);
}

h3{
  @include font-styles(Montserrat, bold, 12px, 15px, $dark_shade, uppercase);

}


